* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #FFF3DC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  user-select: none;
  pointer-events: none;
}

.customNav::-webkit-scrollbar-thumb {
  background-color: #FF6584;
}

.customNav::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  cursor: pointer;
}

.customNav::-webkit-scrollbar-track {
  color: #FFF3DC;
}